<link rel="stylesheet" href="../../stylesheets/confirm_order.css">
<link rel="stylesheet" href="../../stylesheets/header.css">
<link rel="stylesheet" href=".././stylesheets/header.css">
<div class="header">
    <a href="/orders/page/1">
        <div class="logo">
            <img src="../../images/logo.svg" alt="">
        </div>
    </a>
    <div class="menu">
        <a href="/orders/page/1" id="order_header">
            <div class="menu_item"> <img src=" ../../images/burger_not_active.svg" alt=""> Мои заказы </div>
        </a>
        <a href="/customer/profile/" id="profile_header">
            <div class="menu_item"> <img src="../../images/requisites.svg" alt=""> Мои реквизиты </div>
        </a>
        <div class="menu_item"> <img src="../../images/reports.svg" alt=""> Отчеты</div>
        <a href="/orders/new_order">
            <div class="new_order"> <img src="../../images/add_order.svg" alt=""> Новый заказ</div>
        </a>
    </div>
    <div class="profile">
        <img src="../../images/notification.svg" alt="">
        <div class="profile_name">
            Екатерина
        </div>
        <div class="profile_lastname">
            Марченко
        </div>
        <div class="profile_photo"
            style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/94/Rubens-Lady.of.the.Chamber.to.Infanta.Isabella.jpg');">
        </div>
        <img src="../../images/door.svg" alt="exit" id="exit">
    </div>
</div>
<script src="../../javascripts/header.js"></script>

<div class="container">
    <div class="container_header">
        Новый заказ
    </div>
    <div class="container_body">
        <div class="container_body_left">
            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/clock.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Время и дата подачи машины
                    </div>
                    <div class="container_row_value ">
                        {{order_l.calling_time}}
                    </div>
                </div>
            </div>

            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/gps_marker.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Адрес подачи машины
                    </div>
                    <div class="container_row_value ">
                        {{order_l.start_address}}
                    </div>
                </div>
            </div>

            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/gps_marker.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Адрес перевозки
                    </div>
                    <div class="container_row_value ">
                        {{order_l.end_address}}
                    </div>
                </div>
            </div>

            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/type_car.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Тип автомобиля
                    </div>
                    <div class="container_row_value ">
                        {{order_l.type_id}}
                    </div>
                </div>
            </div>
            {{#each order_l.child}}
            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/baby.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Возраст ребенка
                    </div>
                    <div class="container_row_value ">
                        {{this}}
                    </div>
                </div>
            </div>
            {{/each}}

            {{!-- <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/baby.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Возраст ребенка 2
                    </div>
                    <div class="container_row_value ">
                        11 мес
                    </div>
                </div>
            </div> --}}
            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/chat.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Комментарий
                    </div>
                    <div class="container_row_value ">
                        {{order_l.comment}}
                    </div>
                </div>
            </div>
            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/location.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text ">
                        Расчетное ресстояние
                    </div>
                    <div class="container_row_value color_yellow">
                        {{order_l.distance}} км
                    </div>
                </div>
            </div>
            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/goal.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text ">
                        Расчетное время прибытия
                    </div>
                    <div class="container_row_value color_yellow">
                        {{order_l.arrival_time}}
                    </div>
                </div>
            </div>

            <div class="container_row">
                <div class="container_row_icon">
                    <img src="../../images/budget.svg" alt="">
                </div>
                <div class="container_row_right">
                    <div class="container_row_text">
                        Расчетная стоимость <br>
                        <div class="font_12">(с учетом простоя до 60 мин)</div>
                    </div>
                    <div class="container_row_value color_yellow">
                        {{order_l.cost}} грн
                    </div>
                </div>
            </div>
            <div class="container_row buttons_order">
                <div class="cancel">Отменить <br> заказ</div>
                <div class="edit">Изменить <br> заказ</div>
                <div class="confirm">Подтвердить <br> заказ</div>
            </div>

        </div>
        <div class="container_body_right">
            <div class="container_body_right_header">Карта вашего маршрута</div>
            <div class="container_body_right_map" id="map" data-origin="{{order_l.start}}"
                data-destination="{{order_l.end}}"></div>
        </div>
    </div>
</div>
{{> footer}}
<script src="../../javascripts/map.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBf2vtMPr5P0Z3JrYOdvz1vugg4fN1-e8&libraries=places&callback=initMap"
    async defer></script>