<link rel="stylesheet" href="../.././stylesheets/orders.css">
<link rel="stylesheet" href="../.././stylesheets/header.css">
<div class="header">
    <a href="/orders/page/1">
        <div class="logo">
            <img src="../../images/logo.svg" alt="">
        </div>
    </a>
    <div class="menu">
        <a href="/orders/page/1" id="order_header">
            <div class="menu_item"> <img src=" ../../images/burger.svg" alt=""> Мои заказы </div>
        </a>
        <a href="/customer/profile/" id="profile_header">
            <div class="menu_item"> <img src="../../images/requisites.svg" alt=""> Мои реквизиты </div>
        </a>
        <div class="menu_item"> <img src="../../images/reports.svg" alt=""> Отчеты</div>
        <a href="/orders/new_order">
            <div class="new_order"> <img src="../../images/add_order.svg" alt=""> Новый заказ</div>
        </a>
    </div>
    <div class="profile">
        <img src="../../images/notification.svg" alt="">
        <div class="profile_name">
            Екатерина
        </div>
        <div class="profile_lastname">
            Марченко
        </div>
        <div class="profile_photo"
            style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/94/Rubens-Lady.of.the.Chamber.to.Infanta.Isabella.jpg');">
        </div>
        <img src="../../images/door.svg" alt="exit" id="exit">
    </div>
</div>
<script src="../../javascripts/header.js"></script>

<div class="type_orders_container">
    <div class="type_orders ">
        <div class="active_orders active_types">
            Активные заказы
        </div>
        <div class="history_orders">
            История заказов
        </div>
    </div>
</div>
<div class="orders_container">
    <div class="row" id="main_row">
        <div class="number">№</div>
        <div class="created">Создан</div>
        <div class="status">Статус</div>
        <div class="start">Начало</div>
        <div class="end">Конец</div>
        <div class="distance">Расстояние</div>
        <div class="number_car">Номер машины</div>
        <div class="downtime">Время простоя</div>
        <div class="price">Цена</div>
    </div>


    {{#each orders}}
    <div class="row" id={{this.id}}>
        <div class="number">{{this.id}}</div>
        <div class="created">{{this.time_created_order}}</div>
        <div class="status">В работе</div>
        <div class="start"> {{this.calling_time}}</div>
        <div class="end">{{this.arrival_time}}</div>
        <div class="distance">{{this.distance}} км</div>
        <div class="number_car">еще не выбран</div>
        <div class="downtime">0</div>
        <div class="price">{{this.cost}} грн</div>
    </div>
    <div class="info_row" id="99{{this.id}}">
        <div class="info_row_left">
            <div class="container_order_manage">
                <div class="container_order_manage_header"><b id="manage_header_b">Заказ {{this.id}}</b> на сумму
                    {{this.cost}} грн</div>
                <div class="container_order_manage_show"><img src="../../images/eyes.svg" alt="">Посмотреть</div>
                <div class="container_order_manage_edit"><img src="../../images/edit.svg" alt="">Изменить</div>
                <div class="container_order_manage_add_observer"><img src="../../images/add_observer.svg"
                        alt="">Добавить
                    наблюдателя</div>
                <div class="container_order_manage_Cancel"><img src="../../images/cancel.svg" alt="">Отменить</div>
                <div class="container_order_manage_pay">Оплатить</div>
            </div>
        </div>
        <div class="info_row_right maps" id="map{{this.id}}" data-start="{{this.address_start}}"
            data-end="{{this.address_end}}">
        </div>
    </div>
    {{/each}}
</div>

<div class="pagination">
    <a href="/orders/page/1">
        <div class="start_pages">&lt;</div>
    </a>
    {{#if pages.prev_prev}}
    <a href="/orders/page/{{pages.prev_prev}}">
        <div class="prev_prev">{{pages.prev_prev}}</div>
    </a>
    {{/if}}
    {{#if pages.prev}}
    <a href="/orders/page/{{pages.prev}}">
        <div class="prev">{{pages.prev}}</div>
    </a>
    {{/if}}

    <a href="/orders/page/{{pages.now}}">
        <div class="now active_pagination">{{pages.now}}</div>
    </a>
    {{#if pages.next}}
    <a href="/orders/page/{{pages.next}}">
        <div class="next">{{pages.next}}</div>
    </a>
    {{/if}}
    {{#if pages.next_next}}
    <a href="/orders/page/{{pages.next_next}}">
        <div class="next_next">{{pages.next_next}}</div>
    </a>
    {{/if}}
    <a href="/orders/page/{{pages.end}}">
        <div class="end_pages">&gt;</div>
    </a>

</div>
{{>footer}}
<script src="../.././javascripts/orders.js"></script>
<script src="../../javascripts/maps.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBf2vtMPr5P0Z3JrYOdvz1vugg4fN1-e8&libraries=directions&callback=initMap"
    async defer></script>